@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

body {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
}

.login-container {
    text-align: center;
    width: 90%; 
    max-width: 31.25rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%; 
}

.logo {
    width: 60%;
    margin-bottom: 5%;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-group label {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}

#username {
    margin-bottom: 1rem;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background: #d9d9d9;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.input-group input:hover {
    background: #c0c0c0;
}

.login-button {
    margin-top: 2rem;
    width: 40%;
    padding: 0.75rem;
    background-color: #F2970F;
    color: white;
    border: 0.125rem none; 
    border-radius: 0.3125rem; 
    cursor: pointer;
    font-size: 1.2rem;
}

.login-button:hover {
    background-color: #e68900;
}