html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#dashboardMainContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

div.dashboard_sidebar {
    width: 20%;
    background: #F48610;
    height: 100vh;
}

div.dashboard_content_container {
    width: 80%;
}

div.dashboard_sidebar img {
    width: 10rem;
    justify-content: center;
}

div.logo-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 0.5rem;
}

div.dashboard_sidebar_user {
    text-align: center;
    position: relative;
    padding: 1rem;
    border-bottom: 2px solid #c0c0c0;
}

div.dashboard_sidebar_user img {
    width: 3.5rem;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid black;
    margin-right: 0.5rem;
}

div.dashboard_sidebar_user span {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: white;
}

ul.dashboard_menu_lists {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0; 
}

ul.dashboard_menu_lists li {
    padding: 0; 
    text-transform: uppercase;
    width: 100%; 
}

ul.dashboard_menu_lists li a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1.3rem;
    font-family: 'Inter', sans-serif;
    padding: 1rem; 
    width: 100%; 
    box-sizing: border-box; 
}

ul.dashboard_menu_lists li.menuActive a {
    background: black;
    color: #fff;
}

ul.dashboard_menu_lists li:hover a {
    background: black;
    color: #fff;
    transition: 0.3s all;
}

div.dashboard_topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    height: 6%;
    background: #bebebe;
}

div.search-box {
    display: flex;
    align-items: center;
    background: white;
    border: 0.125rem solid black;
    border-radius: 1.25rem;
    padding: 0.3125rem 0.625rem;
    width: 15.625rem;
}

div.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem; 
}

div.search-box i {
    color: black;
    margin-right: 0.5rem; 
}

div.dashboard_topNav a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.dashboard_topNav a:first-child {
    margin-right: auto; 
}

.dashboard_topNav a:last-child {
    margin-left: auto; 
}

.nav-left {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 1rem; /* Adds space between menu icon and search box */
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 5rem;
}